@import "reset.scss";

$border: 1px solid black;

html {
	font-family: "Gilroy", sans-serif;

	& main {
		border-left: $border;
		border-right: $border;
		margin: 0 auto;
		overflow: visible;
		padding: 48px;
		width: 816px;

		& hr {
			width: 100%;
		}

		& .character-name {
			font-family: Philosopher, sans-serif;

			& .supertext {
				display: block;
				font-size: 34pt;
				font-weight: bold;
			}

			& .subtext {
				display: block;
				font-size: 16pt;
			}
		}

		& .character-race {
			align-items: center;
			display: inline-flex;
			flex-direction: column;
			font-family: Philosopher, sans-serif;
			justify-content: center;

			& .supertext {
				display: block;
				font-size: 20pt;
				font-weight: bold;
			}

			& .subtext {
				display: block;
				font-size: 14pt;
			}
		}

		& .character-classes {
			display: flex;
			flex-direction: column;
			font-family: Philosopher, sans-serif;
			justify-content: space-around;

			& h1 {
				font-size: 18pt;
				text-align: right;

				& .class-level {
					background-color: white;
					display: inline-block;
					height: 24px;
					margin-left: 6px;
					position: relative;
					text-align: center;
					width: 20px;
				}
			}
		}

		& section {
			&:not(:last-of-type) {
				margin-bottom: 12px;
			}

			& .character-info {
				display: flex;
				justify-content: space-between;
				padding: 12px;
			}

			&.static-scores {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: -6px;

				& .score {
					margin-top: 6px;
				}
			}

			&.stats-and-proficiencies {
				display: flex;
				justify-content: space-between;
				position: relative;

				& .stats {
					width: 49%;

					& table {
						width: 100%;
					}
				}

				& .proficiencies {
					display: flex;
					flex-direction: column;
					height: 96%;
					justify-content: space-between;
					position: absolute;
					right: 0;
					width: 49%;

					& > div {
						& h2 {
							padding: 6px;
							margin-bottom: 6px;
						}

						& ul {
							display: flex;
							flex-wrap: wrap;
							font-size: 11pt;
							margin-top: -6px;

							& > li {
								margin-top: 6px;

								&:not(:last-child) {
									margin-right: 12px;
								}
							}
						}
					}

					& > div:not(:last-child) {
						margin-bottom: 12px;
					}
				}
			}

			&.skills {
				display: flex;
				justify-content: space-between;

				& .skill {
					width: 49%;
				}
			}

			&.currencies {				
				& > .wrapper {
					display: flex;
					justify-content: space-between;
					width: 100%;
				}
			}

			&.items {
				display: flex;
				justify-content: space-between;

				& .page-half {
					display: flex;
					flex-direction: column;
					width: 49%;
				}

				& table {
					width: 100%;

					& th,
					& td {
						font-size: 10pt;
					}
				}
			}

			&.character-features {
				break-before: page;

				& .artificer-features,
				& .warlock-features,
				& .racial-features,
				& .background-features {
					& h2 {
						padding: 6px;
					}

					& p {
						margin-bottom: 6px;
						text-indent: 24px;
					}

					& ul {
						margin-bottom: 6px;
					}

					& strong {
						display: block;
						font-weight: 700;
					}

					& .feature-option {
						list-style: initial;
						list-style-position: inside;
						margin-bottom: 6px;

						& strong {
							display: inline;
						}
					}
				}
			}

			&.spells {
				break-before: page;
				
				& > .heading {
					padding: 6px;
				}

				& .spell-slots {
					display: flex;
					justify-content: space-between;
					margin-top: -6px;

					& .spell-level {
						flex: 1 0 auto;
						margin-top: 6px;
						width: unset !important;

						&.heading > h2 {
							font-weight: 700;
						}

						& > ul {
							justify-content: flex-end;

							& > li {
								width: 20px !important;
							}
						}
					}
				}

				& .spell-tables > table {
					table-layout: fixed;
					hyphens: auto;
					width: 100%;

					& th {
						font-size: 10pt;
					}

					& td {
						font-size: 8pt;
						vertical-align: middle;
					}
				}
			}

			& table {
				padding: -12px;

				& thead th,
				& tbody td {
					border: none;
					padding: 12px;
					text-align: center;
				}

				& tbody td {
					font-size: 11pt;
				}

				& tbody tr:not(:first-of-type) {
					border-top: $border;
				}
				& tbody td .modifier {
					font-weight: bold;
				}
			}
		}
	}

	.heading {
		background-color: black;
		color: white;
		font-weight: 700;
	}

	.italic {
		font-style: italic;
	}

	.bold {
		font-weight: 700;
	}

	.border-right {
		border-right: $border;
	}

	.border-left {
		border-left: $border;
	}

	.row {
		display: flex;
	}

	.labeled-block {
		align-items: center;
		display: inline-flex;
		justify-content: space-between;
		padding: 12px;
		width: 20%;

		&.heading {
			font-weight: 400;
		}

		& > h2 {
			display: inline-block;
			font-size: 16pt;
			font-variant: small-caps;
			margin-right: 8px;
			text-align: center;
			width: 25%;
		}

		& > span {
			align-items: center;
			background-color: white;
			color: black;
			display: inline-flex;
			font-size: 16pt;
			height: 48px;
			justify-content: center;
			width: 75%;

			&.small {
				font-size: 10pt;
			}
		}

		& > ul {
			display: flex;
			justify-content: center;
			width: 75%;

			& li {
				background-color: white;
				display: inline-block;
				width: 25%;

				&:not(:last-of-type) {
					margin-right: 6px;
				}
			}
		}
	}
}

@media print {
	@page {
		margin: 0.5in;
		size: 8.5in 11in;
	}

	html {
		& main {
			border: none;
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}

	body {
		strong {
			font-weight: 700;
		}

		& hr {
			display: none;
		}
	}
}
