<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
	<meta charset="utf-8" />

	<title>Character Sheet</title>

	<link rel="stylesheet" href="{{ get_url(path='styles.css', trailing_slash=false) }}" />
	<link href="https://fonts.googleapis.com/css?family=Philosopher:400,400i,700&display=swap" rel="stylesheet">
	<link
		href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css"
		rel="stylesheet">
</head>

<body>
	<main>
		<section class="heading">
			<div class="character-info">
				<h1 class="character-name"><span class="supertext">Silas</span><span class="subtext">Domnicea</span></h1>
				<h1 class="character-race"><span class="supertext">Tiefling</span><span class="subtext">Descendant of
						Baalzebul</span></h1>
				<div class="character-classes">
					<h1>
						Artillerist Artificer:<span class="class-level">&nbsp;</span>
					</h1>
					<h1>
						Hexblade Warlock:<span class="class-level">&nbsp;</span>
					</h1>
				</div>
			</div>
		</section>

		<section class="static-scores">
			<div class="score heading labeled-block">
				<h2>Hp</h2>
				<span>&sol;</span>
			</div>
			<div class="score heading labeled-block">
				<h2>Hd</h2>
				<span>&sol;</span>
			</div>
			<div class="score heading labeled-block">
				<h2>Pb</h2>
				<span>+2</span>
			</div>
			<div class="score heading labeled-block">
				<h2>Sp</h2>
				<span>30 ft.</span>
			</div>
			<div class="score heading labeled-block">
				<h2>In</h2>
				<span>+0</span>
			</div>
			<div class="score heading labeled-block">
				<h2>Ac</h2>
				<span>&nbsp;</span>
			</div>
			<div class="score heading labeled-block">
				<h2>Sa</h2>
				<span>+5</span>
			</div>
			<div class="score heading labeled-block">
				<h2>Dc</h2>
				<span>13</span>
			</div>
		</section>

		<section class="stats-and-proficiencies">
			<div class="stats">
				<table>
					<thead class="heading">
						<tr>
							<th>Ability</th>
							<th>Score</th>
							<th>Modifier</th>
							<th>Save</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Str</td>
							<td>8</td>
							<td>-1</td>
							<td>-1</td>
						</tr>
						<tr>
							<td>Dex</td>
							<td>10</td>
							<td>+0</td>
							<td>+0</td>
						</tr>
						<tr>
							<td>Con</td>
							<td>14</td>
							<td>+2</td>
							<td>+4</td>
						</tr>
						<tr>
							<td>Int</td>
							<td>16</td>
							<td>+3</td>
							<td>+6</td>
						</tr>
						<tr>
							<td>Wis</td>
							<td>10</td>
							<td>+0</td>
							<td>+0</td>
						</tr>
						<tr>
							<td>Cha</td>
							<td>16</td>
							<td>+3</td>
							<td>+3</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="proficiencies">
				<div>
					<h2 class="heading">Armor</h2>
					<ul>
						<li>Light</li>
						<li>Medium</li>
						<li>Shields</li>
					</ul>
				</div>
				<div>
					<h2 class="heading">Weapons</h2>
					<ul>
						<li>Simple</li>
						<li>Martial</li>
					</ul>
				</div>
				<div>
					<h2 class="heading">Tools</h2>
					<ul>
						<li>Disguise kit</li>
						<li>Forgery kit</li>
						<li>Painter's supplies</li>
						<li>Thieves' tools</li>
						<li>Tinker's tools</li>
					</ul>
				</div>
				<div>
					<h2 class="heading">Languages</h2>
					<ul>
						<li>Common</li>
						<li>Infernal</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="skills">
			<table class="skill">
				<thead class="heading">
					<tr>
						<th>Skill</th>
						<th>Score</th>
						<th>Proficient</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Acrobatics</td>
						<td>+0</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Animal Handling</td>
						<td>+0</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Arcana</td>
						<td>+5</td>
						<td>&#10003;</td>
					</tr>
					<tr>
						<td>Athletics</td>
						<td>-1</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Deception</td>
						<td>+5</td>
						<td>&#10003;</td>
					</tr>
					<tr>
						<td>History</td>
						<td>+3</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Insight</td>
						<td>+0</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Intimidation</td>
						<td>+3</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Investigation</td>
						<td>+5</td>
						<td>&#10003;</td>
					</tr>
				</tbody>
			</table>

			<table class="skill">
				<thead class="heading">
					<tr>
						<th>Skill</th>
						<th>Score</th>
						<th>Proficient</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Medicine</td>
						<td>+3</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Nature</td>
						<td>+3</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Perception</td>
						<td>+0</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Performance</td>
						<td>+3</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Persuasion</td>
						<td>+3</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Religion</td>
						<td>+3</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Sleight of Hand</td>
						<td>+2</td>
						<td>&#10003;</td>
					</tr>
					<tr>
						<td>Stealth</td>
						<td>+0</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Survival</td>
						<td>+0</td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</section>

		<hr>

		<section class="currencies">
			<div class="wrapper">
				<div class="currency heading labeled-block">
					<h2>Pt</h2>
					<span>&nbsp;</span>
				</div>

				<div class="currency heading labeled-block">
					<h2>Au</h2>
					<span>&nbsp;</span>
				</div>
				<div class="currency heading labeled-block">
					<h2>Ag</h2>
					<span>&nbsp;</span>
				</div>
				<div class="currency heading labeled-block">
					<h2>Cu</h2>
					<span>&nbsp;</span>
				</div>
			</div>
		</section>

		<section class="items">
			<div class="page-half">
				<div class="equipment">
					<table>
						<colgroup>
							<col style="width:calc(100%/2)">
							<col style="width:calc(100%/10)">
							<col style="width:calc(100%/10)">
						</colgroup>
						<thead class="heading">
							<tr>
								<th>Equipment</th>
								<th>Amt.</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="treasure">
					<table>
						<colgroup>
							<col style="width:calc(100%/2)">
							<col style="width:calc(100%/10)">
							<col style="width:calc(100%/10)">
						</colgroup>
						<thead class="heading">
							<tr>
								<th>Treasure</th>
								<th>Amt</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="page-half">
				<div class="possessions">
					<table>
						<colgroup>
							<col style="width:calc(100%/2)">
							<col style="width:calc(100%/10)">
							<col style="width:calc(100%/10)">
						</colgroup>
						<thead class="heading">
							<tr>
								<th>Mundane Possession</th>
								<th>Amt.</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="border-left border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="magic-items">
					<table>
						<colgroup>
							<col style="width:calc(100%/2)">
							<col style="width:calc(100%/20)">
						</colgroup>
						<thead class="heading">
							<tr>
								<th>Magic Item</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td class="border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td class="border-right">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

		<hr>

		<section class="character-features">
			<div class="artificer-features">
				<h2 class="heading">Artificer Features</h2>
				<ul>
					<li>
						<strong>Magical Tinkering</strong>
						<p>As an action, you touch a Tiny nonmagical object with your thieves' tools, tinker's tools, or any other
							artisan's tools and give it one of the following magical properties of your choice:</p>
						<ul>
							<li class="feature-option">
								The object sheds bright light in a 5-foot radius and dim light for an additional 5
								feet.
							</li>
							<li class="feature-option">
								Whenever tapped by a creature, the object emits a recorded message that can be
								heard up to 10 feet away. You utter the message when you bestow this property on
								the object, and the recording can be no more than 6 seconds long.
							</li>
							<li class="feature-option">
								The object continuously emits your choice of an odor or a nonverbal sound (wind,
								waves, chirping, or the like). The chosen phenomenon is perceivable up to 10 feet
								away.
							</li>
							<li class="feature-option">
								A static visual effect appears on one of the object’s surfaces. This effect can
								be a picture, up to 25 words of text, lines and shapes, or a mixture of these
								elements, as you like.
							</li>
						</ul>
					</li>
					<li>
						<strong>Infuse Item</strong>
						<p>Whenever you finish a long rest, you can touch a nonmagical object and imbue it with one of your known
							magical infusions, turning it into a magical item.</p>
						<ul>
							<li class="feature-option"><strong>Replicate Magic Item</strong> - Alchemy Jug</li>
							<li class="feature-option"><strong>Replicate Magic Item</strong> - Bag of Holding</li>
							<li class="feature-option"><strong>Replicate Magic Item</strong> - Rope of Climbing</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="warlock-features">
				<h2 class="heading">Warlock Features</h2>
				<ul>
					<li>
						<strong>Hexblade's Curse</strong>
						<p>As a bonus action, you place a curse on a target within 30 feet of you that lasts for
							1 minute, or until you or the target dies or you are incapacitated. Until the curse
							ends, you gain the following benefits:</p>
						<ul>
							<li class="feature-option">You gain a bonus to damage rolls against the cursed target
								equal to your proficiency bonus.</li>
							<li class="feature-option">You score a critical hit on an attack roll of 19 or 20 on a
								d20 roll.</li>
							<li class="feature-option">When the cursed target dies, you regain hit points equal to your warlock level
								+ your Charisma modifier.</li>
						</ul>
					</li>
					<li>
						<strong>Eldritch Invocations</strong>
						<p>In your study of occult lore, you have unearthed eldritch invocations, fragments of
							forbidden knowledge that imbue you with an abiding magical ability.</p>
						<ul>
							<li class="feature-option"><strong>Fiendish Vigor - </strong>You can cast <span class="italic">false
									life</span> on yourself at will as a 1st level spell, without expending a spell slot or material
								components.</li>
							<li class="feature-option"><strong>Mask of Many Faces - </strong>You can cast <span
									class="italic">disguise self</span> at will, without expending a spellslot.</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="racial-features">
				<h2 class="heading">Tiefling Features</h2>
				<ul>
					<li>
						<div>
							<strong>Hellish Resistance</strong>
							<p>You have resistance to fire damage.</p>
						</div>
					</li>
					<li>
						<div>
							<strong>Legacy of Maladomini</strong>
							<p>You know the <span class="italic">thaumaturgy</span> cantrip. At 3rd level, you can cast <span
									class="italic">ray of sickness</span> as a 2nd-level spell once per long rest. At 5th level, you can
								cast <span class="italic">crown of madness</span> once per long rest.</p>
						</div>
					</li>
				</ul>
			</div>

			<div class="background-features">
				<h2 class="heading">Charlatan Features</h2>
				<ul>
					<li>
						<div>
							<strong>False Identity</strong>
							<p>You have created a second identity with all of the documentation, acquaintances,
								and disguisesthat allow you to assume that persona. You can also forge documents as
								long as you have seen an example of the kind of document or the handwriting you are
								trying to copy.</p>
						</div>
					</li>
				</ul>
			</div>
		</section>

		<hr>

		<section class="spells">
			<div class="spell-slots">
				<div class="spell-level heading labeled-block">
					<h2>Pact</h2>
					<ul>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="spell-level heading labeled-block">
					<h2>1</h2>
					<ul>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="spell-level heading labeled-block">
					<h2>2</h2>
					<ul>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="spell-level heading labeled-block">
					<h2>3</h2>
					<ul>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="spell-level heading labeled-block">
					<h2>4</h2>
					<ul>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="spell-level heading labeled-block">
					<h2>5</h2>
					<ul>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
			</div>

			<div class="spell-tables">
				<table>
					<colgroup>
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
					</colgroup>
					<thead class="heading">
						<tr>
							<th>&nbsp;</th>
							<th>Name</th>
							<th>Level</th>
							<th>Comp.</th>
							<th>Rit.</th>
							<th>Con.</th>
							<th>&nbsp;</th>
							<th>Name</th>
							<th>Level</th>
							<th>Comp.</th>
							<th>Rit.</th>
							<th>Con.</th>
						</tr>
					</thead>
					<tbody>
						{% for spell_pair in config.extra.spells.Cantrip %}
						<tr>
							<td>&#x25EF;</td>
							<td>{{ spell_pair.left.name }}</td>
							<td>{{ spell_pair.left.level }}</td>
							<td>{{ spell_pair.left.components }}</td>
							{% if spell_pair.left.ritual == true %}
							<td>&#10003;</td>
							{% else %}
							<td>&nbsp;</td>
							{% endif %}

							{% if spell_pair.left.concentration == true %}
							<td class="border-right">&#10003;</td>
							{% else %}
							<td class="border-right">&nbsp;</td>
							{% endif %}

							<td>
								{% if spell_pair.right.name == "" %}
								&nbsp;
								{% else %}
								&#x25EF;
								{% endif %}
							</td>
							<td>{{ spell_pair.right.name }}</td>
							<td>{{ spell_pair.right.level }}</td>
							<td>{{ spell_pair.right.components }}</td>
							{% if spell_pair.right.ritual == true %}
							<td>&#10003;</td>
							{% else %}
							<td>&nbsp;</td>
							{% endif %}

							{% if spell_pair.right.concentration == true %}
							<td>&#10003;</td>
							{% else %}
							<td>&nbsp;</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<table>
					<colgroup>
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
						<col style="width:style(100%/12);">
					</colgroup>
					<thead class="heading">
						<tr>
							<th>&nbsp;</th>
							<th>Name</th>
							<th>Level</th>
							<th>Comp.</th>
							<th>Rit.</th>
							<th>Con.</th>
							<th>&nbsp;</th>
							<th>Name</th>
							<th>Level</th>
							<th>Comp.</th>
							<th>Rit.</th>
							<th>Con.</th>
						</tr>
					</thead>
					<tbody>
						{% for spell_pair in config.extra.spells.1st %}
						<tr>
							<td>&#x25EF;</td>
							<td>{{ spell_pair.left.name }}</td>
							<td>{{ spell_pair.left.level }}</td>
							<td>{{ spell_pair.left.components }}</td>
							{% if spell_pair.left.ritual == true %}
							<td>&#10003;</td>
							{% else %}
							<td>&nbsp;</td>
							{% endif %}

							{% if spell_pair.left.concentration == true %}
							<td class="border-right">&#10003;</td>
							{% else %}
							<td class="border-right">&nbsp;</td>
							{% endif %}

							{% if spell_pair.right %}
							<td>
								{% if spell_pair.right.name == "" %}
								&nbsp;
								{% else %}
								&#x25EF;
								{% endif %}
							</td>
							<td>{{ spell_pair.right.name }}</td>
							<td>{{ spell_pair.right.level }}</td>
							<td>{{ spell_pair.right.components }}</td>
							{% if spell_pair.right.ritual == true %}
							<td>&#10003;</td>
							{% else %}
							<td>&nbsp;</td>
							{% endif %}

							{% if spell_pair.right.concentration == true %}
							<td>&#10003;</td>
							{% else %}
							<td>&nbsp;</td>
							{% endif %}
							{% else %}
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</main>
</body>

</html>
